<footer class="z-3 sticky bottom-0 p-1 sm:p-2">
  <div
    class="border-custom shadow-tertiary-softer dark:shadow-tertiary-medium rounded-lg shadow-md"
  >
    <div class="bg-light dark:bg-dark flex justify-between rounded-lg p-2">
      <!--prettier-ignore-->
      <%- include('../components/breadcrumb') %>
      <%- include('../components/button-add-item') %>
    </div>
  </div>
</footer>
