<aside
  id="sidebar-drawer"
  class="fixed left-0 top-0 z-40 h-full w-64 -translate-x-full transition-transform sm:static sm:row-span-2 sm:translate-x-0 sm:p-2"
  aria-label="Sidebar navigation"
  tabindex="-1"
>
  <div
    class="border-custom shadow-tertiary-medium sm:shadow-tertiary-softer dark:shadow-tertiary-medium h-full rounded-lg shadow-md"
  >
    <div
      class="bg-light dark:bg-dark flex h-full flex-col justify-between overflow-y-auto rounded-lg px-2 py-4"
    >
      <div class="flex flex-col gap-4">
        <!--page-title-->
        <a href="/" class="hidden sm:flex sm:items-center sm:px-2">
          <h1
            class="text-heading-dark dark:text-heading-light flex items-center gap-1.5 text-4xl font-semibold"
          >
            <%- include('../components/icon-cloud', {size: 10}) %>Cirrus
          </h1>
        </a>
        <!--nav-links-->
        <%- include('../components/sidebar-links') %>
      </div>
      <!--storage-meter-->
      <%- include('../components/storage-meter') %>
    </div>
  </div>
</aside>
