<!DOCTYPE html>
<html lang="en" class="text-body-dark dark:text-body-light min-w-80 font-sans">
  <%- include('../partials/head') %>
  <body
    class="bg-light dark:bg-dark flex min-h-screen w-full items-center justify-center px-4 py-8 md:px-8"
  >
    <main class="w-full"><%- body %></main>
  </body>
</html>
