<nav class="flex border-t pt-4" aria-label="Breadcrumb">
  <ol
    class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
  >
    <li class="inline-flex items-center">
      <a
        href="/"
        class="text-body hover:text-fg-brand inline-flex items-center text-sm font-medium"
      >
        <svg
          class="me-1.5 h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
          />
        </svg>
        Home
      </a>
    </li>
    <!--prettier-ignore-->
    <% if (breadcrumb?.length > 0) { %> 
    <% if (breadcrumb?.length > 1) { %>
    <li>
      <div class="flex items-center space-x-1.5">
        <svg
          class="text-body h-3.5 w-3.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
        <span
          class="text-body-subtle inline-flex items-center whitespace-nowrap text-sm font-medium"
          >...</span
        >
      </div>
    </li>
    <% } %>
    <li>
      <div class="flex items-center space-x-1.5">
        <svg
          class="text-body h-3.5 w-3.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
        <a
          href="/folders/<%= breadcrumb.at(-1).id %>"
          class="text-body hover:text-fg-brand inline-block max-w-20 items-center truncate text-sm font-medium lg:max-w-none"
          ><%= breadcrumb.at(-1).name %></a
        >
      </div>
    </li>
    <% } %> <% if (breadcrumb) { %>
    <li aria-current="page">
      <div class="flex items-center space-x-1.5">
        <svg
          class="text-body h-3.5 w-3.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
        <span
          class="text-body-subtle inline-block max-w-24 items-center truncate text-sm font-medium lg:max-w-none"
          ><%= title %></span
        >
      </div>
    </li>
    <% } %>
  </ol>
</nav>
