<nav class="flex min-w-0 p-2" aria-label="Breadcrumb">
  <ol
    class="flex min-w-0 items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
  >
    <li class="inline-flex items-center">
      <a
        href="/"
        class="hover:text-primary inline-flex items-center text-sm font-medium"
      >
        <svg
          class="me-1.5 h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
          />
        </svg>
        Home
      </a>
    </li>
    <!--prettier-ignore-->
    <% if (breadcrumb?.length > 0) { %> 
    <% if (breadcrumb?.length > 1) { %>
    <li>
      <div class="flex items-center space-x-1.5">
        <svg
          class="h-3.5 w-3.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
        <span
          class="inline-flex items-center whitespace-nowrap text-sm font-medium"
          >...</span
        >
      </div>
    </li>
    <% } %>
    <li class="">
      <div class="flex items-center space-x-1.5">
        <svg
          class="text-body h-3.5 w-3.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
        <a
          href="/folders/<%= breadcrumb.at(-1).id %>"
          class="hover:text-primary xs:max-w-20 xs:inline-block me-0 hidden items-center truncate text-sm font-medium sm:hidden md:inline-block md:max-w-20 lg:max-w-none"
          ><%= breadcrumb.at(-1).name %></a
        >
        <span
          class="text-body-subtle xs:hidden inline-flex items-center whitespace-nowrap text-sm font-medium sm:inline-flex md:hidden"
          >...</span
        >
      </div>
    </li>
    <% } %> <% if (breadcrumb) { %>
    <li class="min-w-0" aria-current="page">
      <div class="flex min-w-0 items-center space-x-1.5">
        <svg
          class="text-body h-3.5 w-3.5 shrink-0 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
        <span
          class="text-body-subtle-dark dark:text-body-subtle-light inline-block items-center truncate text-sm font-medium"
          ><%= breadcrumbTitle %></span
        >
      </div>
    </li>
    <% } %>
  </ol>
</nav>
