<button
  data-drawer-target="sidebar-drawer"
  data-drawer-toggle="sidebar-drawer"
  aria-controls="sidebar-drawer"
  data-drawer-backdrop="true"
  type="button"
  class="box-border border border-transparent bg-transparent p-2 text-sm font-medium leading-5 focus:outline-none focus:ring-4"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="h-6 w-6"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-width="2"
      d="M5 7h14M5 12h14M5 17h10"
    />
  </svg>
</button>
