<div class="group relative">
  <button
    type="button"
    id="add-item-menu-button"
    data-dropdown-trigger="hover"
    data-dropdown-delay="250"
    data-dropdown-placement="top-end"
    data-dropdown-toggle="add-item-menu-dropdown"
    class="bg-primary hover:bg-primary-strong text-body-light ml-auto flex h-10 w-14 items-center justify-center rounded-sm"
  >
    <svg
      class="h-5 w-5 transition-transform group-hover:rotate-45"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 12h14m-7 7V5"
      />
    </svg>
    <span class="sr-only">Open actions menu</span>
  </button>
  <div id="add-item-menu-dropdown" class="dropdown-menu hidden w-40">
    <ul class="">
      <li>
        <button
          id="upload-file-modal-trigger"
          data-modal-target="upload-file-modal"
          data-modal-toggle="upload-file-modal"
          data-upload-file-parent-value="<%= folder.id %>"
          type="button"
          class="items-center gap-1"
        >
          <%- include('icon-file', {size: 'small'}) %>
          <span class="whitespace-nowrap">Upload File</span>
        </button>
      </li>
      <li>
        <button
          id="create-folder-modal-trigger"
          data-modal-target="create-folder-modal"
          data-modal-toggle="create-folder-modal"
          data-create-folder-parent-value="<%= folder.id %>"
          type="button"
          class="items-center gap-1"
        >
          <%- include('icon-folder', {size: 'small'}) %>
          <span class="whitespace-nowrap">New Folder</span>
        </button>
      </li>
    </ul>
  </div>
</div>
