<div
  id="form-errors"
  class="<%= flash.formErrors?.length === 0 ? 'hidden' : '' %> rounded-base text-fg-danger-strong bg-danger-soft flex border border-rose-200 p-4 text-sm dark:border-rose-700"
  role="alert"
>
  <svg
    class="me-2 h-4 w-4 shrink-0"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
    />
  </svg>
  <div class="flex flex-col gap-2">
    <span class="font-medium">Please address the following issues:</span>
    <ul class="flex list-outside list-disc flex-col gap-1">
      <!--prettier-ignore-->
      <% flash.formErrors?.forEach(err => { %>
      <li><%= err.msg %></li>
      <% }); %>
    </ul>
  </div>
</div>
