<div class="flex h-full flex-col justify-between p-4">
  <div class="overflow-y-auto">
    <div class="mb-4 grid grid-cols-[1fr_auto] items-center gap-4">
      <h2 class="shrink truncate text-2xl"><%= title %></h2>
      <%- include('../components/dropdown-sort') %>
    </div>
    <%- include('../components/list-items') %>
  </div>
  <div class=""><%- include('../components/breadcrumb') %></div>
</div>
