<div class="h-full p-4">
  <div class="mb-4 grid grid-cols-[1fr_auto] items-center gap-4 text-2xl">
    <h2 class="truncate"><%= title %></h2>
    <%- include('../components/dropdown-sort') %>
  </div>
  <div><%- include('../components/list-items') %></div>
</div>
