@import 'tailwindcss';

@import 'flowbite/src/themes/default';
@plugin 'flowbite/plugin';
@source '../../node_modules/flowbite';

@custom-variant dark (&:where(.dark, .dark *));

/* If custom CSS classes are needed, write in separate file and import */

.style-required:after {
  @apply ml-0.5 text-red-500 content-['*'];
}

@theme {
  /* Override or define utility classes and theme variables */

  --color-primary-softer: var(--color-sky-50);
  --color-primary-soft: var(--color-sky-100);
  --color-primary-medium: var(--color-sky-200);
  --color-primary: var(--color-sky-700);
  --color-primary-strong: var(--color-sky-800);
  --color-secondary-softer: var(--color-cyan-50);
  --color-secondary-soft: var(--color-cyan-100);
  --color-secondary-medium: var(--color-cyan-200);
  --color-secondary: var(--color-cyan-500);
  --color-secondary-strong: var(--color-cyan-600);
  --color-tertiary-softer: var(--color-indigo-300);
  --color-tertiary-soft: var(--color-indigo-400);
  --color-tertiary-medium: var(--color-indigo-500);
  --color-tertiary: var(--color-indigo-800);
  --color-tertiary-strong: var(--color-indigo-900);

  /* fonts */
  --color-body-dark: var(--color-gray-700);
  --color-body-subtle-dark: var(--color-gray-500);
  --color-heading-dark: var(--color-gray-800);
  --color-body-light: var(--color-gray-200);
  --color-body-subtle-light: var(--color-gray-400);
  --color-heading-light: var(--color-gray-100);

  /* base neutrals for dark/light mode */
  --color-light-softer: var(--color-gray-200);
  --color-light-soft: var(--color-gray-100);
  --color-light: var(--color-gray-50);
  --color-light-strong: var(--color-white);
  --color-dark-softer: var(--color-gray-600);
  --color-dark-soft: var(--color-gray-800);
  --color-dark: var(--color-gray-900);
  --color-dark-strong: var(--color-gray-950);

  --breakpoint-xs: 28rem;

  --animate-slide-in-out: slide-in-out 6s ease-in-out 1 forwards;

  /* 
  --font-sans: ;
  --font-serif: ;
  --font-mono: ;
  */
}

@layer base {
  /* If you want to add your own default base styles for specific HTML elements,
  use the @layer directive to add those styles to Tailwind's 'base' layer 
  i.e. h1, h2, etc. */

  a,
  button {
    @apply focus-visible:ring-tertiary-medium focus-visible:outline-none focus-visible:ring-4;
  }

  input,
  textarea,
  select,
  [tabindex]:not([tabindex='-1']) {
    @apply focus:ring-tertiary-medium focus:outline-none focus:ring-2;
  }

  button {
    cursor: pointer;
  }

  th,
  td {
    padding: --spacing(2);
    text-align: left;
  }
}

@layer components {
  /* Use the components layer for any more complicated classes you want to 
  add to your project that you'd still like to be able to override with utility classes. 
  i.e. classes like 'card', 'btn', 'badge' */

  .border-custom {
    @apply bg-linear-to-br from-primary to-secondary p-0.5;
  }

  .button-icon {
    @apply hover:bg-light-soft hover:text-primary dark:hover:bg-dark-soft rounded-full text-sm text-gray-500;
  }

  .button-submit-danger {
    @apply bg-danger hover:bg-danger-strong shadow-xs rounded-base box-border w-full truncate border border-transparent px-4 py-2.5 text-sm font-medium leading-5 text-white;
  }

  .button-submit-neutral {
    @apply shadow-xs rounded-base bg-primary hover:bg-primary-strong text-body-light box-border w-full truncate border border-transparent px-4 py-2.5 text-sm font-medium;
  }

  .button-cancel {
    @apply text-body bg-neutral-secondary-medium border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading shadow-xs rounded-base box-border w-full truncate border px-4 py-2.5 text-sm font-medium leading-5;
  }

  .button-group {
    @apply mt-2 flex w-full gap-2;
  }

  .container-form {
    @apply flex flex-col gap-4;
  }

  .container-form label {
    @apply mb-2 block text-sm font-medium;
  }

  .container-form > .input-text > input,
  .container-form-search > .input-text > input {
    @apply border-default-medium text-heading-dark dark:text-heading-light shadow-xs bg-light focus:bg-light-strong dark:focus:bg-dark-soft block w-full rounded-sm border px-3 py-2.5 text-sm placeholder:text-gray-500 focus:placeholder:text-transparent;
  }

  .container-form > .input-file > input {
    @apply border-default-medium text-heading-dark dark:text-body-light shadow-xs bg-light block w-full rounded-sm border text-sm;
  }

  .container-form > .input-select > select,
  #sort-form > button {
    @apply border-default-medium disabled:bg-light-soft dark:disabled:bg-dark-soft text-heading-dark dark:text-heading-light shadow-xs bg-light block w-full rounded-sm border px-3 py-2.5 text-sm disabled:cursor-not-allowed disabled:opacity-60;
  }

  #container-list-items > table tr {
    @apply border-default-medium hover:bg-light-soft dark:hover:bg-dark-soft border-b hover:transition hover:duration-150 hover:ease-in;
  }

  #container-list-items > ul > li {
    @apply border-default-medium hover:bg-light-soft dark:hover:bg-dark-soft hover:shadow-tertiary-medium shadow-xs/50 hover:shadow-sm/60 rounded-base border hover:transition hover:duration-150 hover:ease-in;
  }

  .container-modal {
    @apply bg-neutral-primary-soft border-default rounded-base relative border p-4 shadow-sm;
  }

  .dropdown-menu {
    @apply bg-light rounded-base border-primary shadow-tertiary-soft dark:shadow-tertiary-medium border shadow-sm;
  }

  .dropdown-menu ul {
    @apply p-2 text-sm font-medium;
  }

  .dropdown-menu button {
    @apply hover:bg-light-soft hover:text-primary dark:hover:bg-dark-soft inline-flex w-full rounded p-3;
  }

  .link-basic {
    @apply text-primary dark:text-primary-medium hover:underline;
  }

  .link-sidebar {
    @apply hover:bg-light-soft hover:text-primary dark:hover:bg-dark-soft flex items-center rounded px-2 py-1.5;
  }

  .text-helper {
    @apply text-body-subtle-dark dark:text-body-subtle-light mt-1.5 text-sm;
  }
}

@utility animate-meter-fill {
  animation: meter-fill 0.8s ease-out forwards;
  transform-origin: left;
}

@keyframes meter-fill {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes slide-in-out {
  0%,
  100% {
    transform: translateX(500px);
    opacity: 0;
  }

  10%,
  90% {
    transform: translateX(0);
    opacity: 1;
  }
}
