<form id="delete-confirm-form" action="" method="post" class="button-group">
  <%- include('../components/form-hidden-input') %>
  <button data-modal-hide="<%= modalId %>" type="button" class="button-cancel">
    No, cancel.
  </button>
  <button type="submit" class="button-submit-danger">Confirm.</button>
</form>
