<form id="download-confirm-form" action="" method="get" class="button-group">
  <!--prettier-ignore-->
  <%- include('../components/form-hidden-input') %>
  <button data-modal-hide="<%= modalId %>" type="button" class="button-cancel">
    No, cancel.
  </button>
  <button
    data-modal-hide="<%= modalId %>"
    type="submit"
    class="button-submit-neutral"
  >
    Yes, please!
  </button>
</form>
