<form id="edit-name-form" action="" method="post" class="container-form">
  <!--prettier-ignore-->
  <%- include('../components/form-hidden-input') %> 
  <%- include('../components/form-errors') %>
  <div class="input-text">
    <label class="style-required" for="editItemName">New name:</label>
    <input
      type="text"
      id="editItemName"
      name="itemName"
      class=""
      placeholder=""
      aria-describedby="form-errors"
      value="<%= flash.formData?.itemName %>"
      maxlength="50"
      required
    />
  </div>
  <div class="button-group">
    <button
      data-modal-hide="<%= modalId %>"
      type="button"
      class="button-cancel"
    >
      Cancel
    </button>
    <button type="submit" class="button-submit-neutral">Submit</button>
  </div>
</form>
