<form action="/auth/login" method="post" class="container-form">
  <%- include('../components/form-errors') %>
  <div class="input-text">
    <label for="username" class="style-required">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      class=""
      placeholder="jsmith1"
      aria-describedby="form-errors"
      value="<%= flash.formData?.username || '' %>"
      required
    />
  </div>
  <div class="input-text">
    <label for="password" class="style-required">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      class=""
      placeholder="********"
      required
    />
  </div>
  <button type="submit" class="button-submit-neutral">Log In</button>
</form>
