<form action="/auth/register" method="post" class="container-form">
  <%- include('../components/form-errors') %>
  <div class="input-text">
    <label for="first" class="style-required">First name:</label>
    <input
      type="text"
      id="first"
      name="first"
      class=""
      placeholder="Bobby"
      aria-describedby="form-errors"
      value="<%= flash.formData?.first || '' %>"
      maxlength="50"
      required
    />
  </div>
  <div class="input-text">
    <label for="last" class="style-required">Last name:</label>
    <input
      type="text"
      id="last"
      name="last"
      class=""
      placeholder="Jenkins"
      value="<%= flash.formData?.last || '' %>"
      maxlength="50"
      required
    />
  </div>
  <div class="input-text">
    <label for="username" class="style-required">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      class=""
      placeholder="bjenkins45"
      value="<%= flash.formData?.username || '' %>"
      required
    />
    <p class="text-helper">* 6-16 characters, letters & numbers ONLY!</p>
  </div>
  <div class="input-text">
    <label for="password" class="style-required">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      class=""
      placeholder="********"
      required
    />
    <p class="text-helper">
      * 8-32 characters, must have one of each: uppercase, lowercase, number,
      special (#?!@$%^&*-)
    </p>
  </div>
  <div class="input-text">
    <label for="passwordVerify" class="style-required">Verify Password:</label>
    <input
      type="password"
      id="passwordVerify"
      name="passwordVerify"
      class=""
      placeholder="********"
      required
    />
  </div>
  <button type="submit" class="button-submit-neutral">Register</button>
</form>
